[Desktop Entry]
Version=1.0
Name=Firefox Developer Edition
Exec={{ app_install_dir }}/firefox/firefox %u
Terminal=false
Type=Application
TryExec={{ app_install_dir }}/firefox/firefox
Icon={{ app_install_dir }}/firefox/browser/chrome/icons/default/default128.png
